.app {
  width: 100%; /* Szerokość 100% dostępnego obszaru */
  height: 100vh; /* Wysokość na cały viewport */
  display: flex; /* Opcjonalne: stylizuj układ */
  justify-content: center; /* Opcjonalne: centrowanie */
  align-items: center; /* Opcjonalne: centrowanie */
}

.canvas {
  
  display: block; /* Usuń margines domyślny */
  background-color: #f7f7f7;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  
}
